body {
    background: darkblue;
}

.form-inline {
    float: right;
    margin: 5px;
}

button {
    margin: 5px;
}

img {
    margin: 0 0 20px 0;
}

#art {
    background: white;
    height: 380px;
    overflow: auto;
}

/* #not {
    background: white;
    height: 400px;
} */

h2,
h4 {
    color: white;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 100px;
}

footer {
    color: white;
    font-size: 10px;
    text-align: center;
    margin: 5px;
}